.app {
  max-width: $max-width;
  margin: 0 auto;
  background-color: $background-color;
  overflow: hidden;

  @media (min-width: 1200px){
    padding: $big-spacing;
    margin: $big-spacing auto;
  }

  @media (min-width: 1400px){
    margin: $big-spacing*2 auto;
  }
}
