html, body {
  font-size: $base-font-size;
  font-family: 'Titillium Web', sans-serif;
  color: $primary-color;
  font-weight: 400;
}

h1 {
  font-size: 2rem;
  margin: $main-spacing;
}

p {
  line-height: 1.2
}
