html, body {
  font-size: $base-font-size;
  font-family: 'Montserrat', sans-serif;
  color: $primary-color;
  font-weight: 400;
}

h1 {
  font-size: 2rem;
  margin: $main-sapcing;
}

p {
  margin-bottom: $main-sapcing;
  line-height: 1.5
}
