$base-font-size: 16px;

$max-width:1200px;

$main-sapcing: 15px;
$button-padding: 20px 10px;

$primary-color: black;
$border-color: grey;

$button-background-color: red;
$button-text-color: orange;
$buton-hover-color: lighten($button-background-color, 20%)


