$base-font-size: 16px;

$max-width:1200px;
$standing-max-width:800px;

$main-sapcing: 15px;
$button-padding: 20px 10px;

$primary-color: black;
$border-color: grey;

$button-background-color: #E10600;
$button-text-color: #FFFFFF;
$button-hover-color: #000000


