$base-font-size: 13px;

$max-width:1200px;

$main-spacing: 20px;
$driver-padding: 18px 8px 14px;
$big-spacing: 40px;
$button-padding: 5px;
$button-margin: 10px;

$primary-color: black;

$background-color: #FFFFFF;
$even-background-color: rgba(227, 227, 227, 1);

$button-background-color: #E10600;
$button-text-color: #FFFFFF;
$button-hover-color: #000000


