.app__button {
  margin: $button-margin/2 $button-margin;
  font-size: 0.8rem;
  background-color: $button-background-color;
  color: $button-text-color;
  border: none;
  padding: $button-padding;

  &:hover{
    background-color: $button-hover-color;
  }
}
