.driver {
 display: grid;
 grid-template-columns: minmax(35px, 1fr) minmax(50px, 4fr) minmax(95px, 4fr) minmax(80px,4fr) minmax(40px,1fr);
 font-weight: bold;

 &:nth-child(even){
   background-color: $even-background-color;
 }

 &__element{
  padding: $driver-padding;
  }
}


