.driver {
 display: grid;
 grid-template-columns: minmax(25px, 50px) minmax(80px, 2fr) minmax(100px, 2fr) minmax(100px, 2fr) minmax(140px,2fr) minmax(40px,1fr) minmax(25px, 1fr);
 font-weight: bold;
 max-width: $standing-max-width;
 margin-bottom: 5px;
 padding-bottom: 5px;
 padding-top: 5px;
 border-bottom: dotted;

 &>*{
   margin-left: 5px;
 }
}
