.content__info-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 300px;
  margin:0  $main-spacing;
}

.content__info {
  @include flex-center;
  font-size: 1.2rem;
}

.content__text {
  margin-right: 5px;
  text-transform: uppercase;
}
